services:
  odoo:
    build: .
    shm_size: "2gb"
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-data:/var/lib/odoo
      - ./config/odoo.conf:/etc/odoo/odoo.conf
      - ./addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo_password
    command: odoo  --db_user=odoo --db_password=odoo_password --db_host=db
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=odoo
      - POSTGRES_PASSWORD=odoo_password
      - POSTGRES_USER=odoo
    ports:
      - "5432:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

volumes:
  odoo-data:
  odoo-db-data:
